<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<style>
    table {
        width: 80%;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 24px;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    th {
        background-color: gray;
        color: white;
    }
</style>

<body>
    <table>
        <tr>
            <th>Model description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
        <tr>
            <td colspan="4">Cart is empty</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td></td>
            <td>Subtotal: $ 980000</td>
        </tr>
    </table>
    <br><br>
    <a href="./products.html">List of products</a>
</body>

</html>